.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 500;
  height: rem(50);
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    border-bottom-color: transparent;
  }
}

.menuTitle {
  font-weight: 600;
  cursor: pointer;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-emochoice-blue-1);
}
