.container {
  @media screen and (min-width: $mantine-breakpoint-xs) {
    padding: 0 5.5% 0 5.5% !important;
    justify-content: center;
    padding: 0;
  }
}

.cardsBox {
  @media screen and (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    align-items: center;
  }
}
