.container {
  @media screen and (min-width: $mantine-breakpoint-xl) {
    padding: 0 10% 0 10% !important;
  }

  padding: 0 4% 0 4%;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;

  @media screen and (max-width: $mantine-breakpoint-xs) {
    justify-content: center;
  }
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    align-items: center;
  }
}
