.cardsBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;

  @media screen and (max-width: 972px) {
    flex-direction: column;
    align-items: center;
  }
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
