.imagebox {
  width: 45%;
  height: 100%;
  display: block;

  @media screen and (max-width: $mantine-breakpoint-xs) {
    width: 80vw;
    height: auto;
    margin-bottom: 15px;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.overview {
  height: auto;
  display: flex;
  @media screen and (max-width: $mantine-breakpoint-xs) {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
}

.textarea {
  width: 20vw;
  min-width: 180px;
  @media screen and (max-width: $mantine-breakpoint-xs) {
    width: 65vw;
  }
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.information {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
