.footer {
  width: 100%;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);
  margin-top: 5vh;
  padding: 3.5vh 7vw 3.5vh 7vw;
  border-top: rgb(230, 230, 230) 1px solid;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.innerFooter {
  width: 100%;
  padding: 2.5vh 7vw 2.5vh 7vw;
  background-color: rgb(200, 200, 200);
}

.information {
  max-width: calc(90vw / 4);

  @media screen and (max-width: $mantine-breakpoint-xs) {
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 80vw;
  }
}

.icon {
  color: black;
  margin-right: 5px;
  min-width: 24px;
}
